#udssl {
    @import '~bootstrap/scss/bootstrap';
    margin: 20px;
}

$body-color: white;

.container {
    background-color: $body-color;
}

#wpcontent {
    padding-left: 0px; 
}

.wrap > h1 {
    padding-left: 20px;
}